.Contact_Info {
    background-color: #242E47;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    color: white;
    padding-right: 30px; 
}

.row1 {
    display: flex;
    align-items: center; 
    gap: 15px; 
}

.column {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.column img {
    width: 20px; 
    height: auto;
}

.column p {
    margin: 0;
    font-size: 12px; 
}


.Tab {
    background-color: white;
    margin-top: 15px;
    width: 50%;
    padding: 10px 50px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}


.left {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}


.right {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    position: absolute;
    right: 50px;
    margin:15px ;
    

    
}



.column2 img {
    width: 50px; 
    height: auto; 
}


.column2 b {
    color: #242E47; 
    font-size: 27px; 
    font-family: sans-serif; 
    margin: 0; 
}


.column2 p {
    color: gray; 
    font-size: 12px; 
    margin: 0; 
    font-family: sans-serif; 
    
}


.column2 .button {
    background-color: #0a4c93;; 
    color: white; 
    padding: 5px 15px; 
    font-size: 12px; 
    font-weight: bold; 
    border-radius: 5px; 
    text-align: center; 
    font-family: sans-serif; 
}








