*{
  margin: 0;
  padding: 0;
  
}
body{
  font-family: "Poppins", serif;
 background-color: white;
}
.Contact_Info {
  background-color: #242E47;
  padding: 0;
  margin: 0 auto;
  width: 98%;
  height: 46px;
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  color: white;
  padding-right: 30px; 
}

.row1 {
  display: flex;
  align-items: center; 
  gap: 15px; 
  margin-right: 100px;
}

.column {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.column i {
  font-size: 18px; 
  color: white; 
}

.column a {
  margin: 0;
  font-size: 12px; 
  color: white;
}



.Tab {
  background-color: white;
  margin-top: 15px;
  width: 50%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 130px;
  float: right;
  background-color: white;
}

.column2 img {
  width: 50px;
  height: auto;
}

.column2 b {
  color: #242E47;
  font-size: 27px;
  font-family: "Poppins", serif;
  margin: 0;
}

.button {
  background-color: transparent; 
  color: gray;
  padding: 5px 15px;
  font-size: 10px;
  width: 98px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", serif;
  cursor: pointer;
  border-color: white;
  border: none;
  
  
}

.button2 {
  background-color: #0027BE;
  color: white;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", serif;
  width: 98px;
  height: 40px;
  cursor: pointer;
  border-color: #0027BE;
  border: none;
}


.Picture {
  position: relative;
  margin: 0;
  padding: 0;
}

.Picture img {
  width: 100%;
  height: 530px;
  display: block;
}

.image-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 180px;
  padding: 10px;
  box-sizing: border-box;
}

.button3 {
  background-color: transparent;
  color: white;
  font-family: "Poppins", serif;
  font-size: 12px;
  
  padding: 8px 15px;
  
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}



.image-text2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  padding: 10px;
  box-sizing: border-box;
}

.column4 p {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.column4 b {
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", serif;
}

.form {
  position: absolute;
  bottom: 30px;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #1f1d1dcc;
  color: white;
  font-family: "Poppins", serif;
  text-align: center; 
  padding: 10px;
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px; 
  width: 761px;
  height: 75px;
  align-items: center;
}

.column5 input {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.column5 .button {
  background-color: #0027BE;
  color: white;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  width:128px;
  height:34px;
  text-align: center;
  
}


.column6 b {
  position: absolute;
  top: -33px; 
  left: 0px; 
  text-align: center;
  background-color: #0027BE;
  border-radius: 5px;
  width: 198px;
  height: 25px;
  margin: 0;
  align-items: center; 
  font-family: "Poppins", serif;
  
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: rgb(247, 240, 240);
}



.AboutUs {
    position: relative; 
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .Picture1 img {
    width: 503px;
    height: 440px;
    display: block;
    margin-top: 125px;
    margin-left: 290px; 
    margin-bottom: 125px;
    position: absolute;
  }
  
  .Picture2 img {
    width: 385px;
    height: 250px;
    display: block;
    margin-top: 380px;
    margin-left: 150px; 
    margin-bottom: 125px;
    position: absolute;
  }
  
  .box {
    position: absolute;
    top: 150px; 
    left: calc(190px + 503px + 15px); 
    background-color: white;
    width: 430px;
    height: 350px;
    padding: 25px; 
    
    text-align: left; 
    gap: 10px;
    margin-left: 20px;
  }
  
  .box b {
    color: blue;
    font-size: 17px; 
  }
  
  .box h1 {
    color: rgb(6, 6, 6);
    font-size: 24px;
    margin: 10px 0; 
    
  }
  
  .box p {
    color: rgb(100, 100, 102);
    font-size: 17px;
    line-height: 1.8; 
  }



  .owl-carousel {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 90%; 
    height: 455px;
    margin: 700px auto 0;
    position: relative;
    overflow: hidden;
  }

.column7 {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0; 
}

.column7 img {
    transform: skew(10deg);
    width: 100%; 
    height: 100%; 
    object-fit: cover;     
}

.column7 p,
.column7 .button {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.column7 p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 7px; 
}

.column7 .button {
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.page{
  background-color: #EEEEEE;
}


.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1px auto; 
  text-align: center;
  
}

.Services h1 {
  
  font-size: 36px;
  font-family: "Poppins", serif;
  margin-bottom: 20px;
  margin-top: 40px; 
}

.row5 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 25px; 
  padding-right: 40px;
 
}

.column8 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: #232020; 
  min-width: 180px;
 
  
}
.column8:first-child .service-btn {
  color: #0027BE;
}

.service-btn {
  
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", serif;
  margin-bottom: 30px;
  align-items: center;
  /* padding-left: 60px; */
  
}




 .All {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  width:1440px;
  height:1150px;
 
}


.box2 {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  justify-items: center;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: #EEEEEE;
  width:1000px;
  height:150px;
  
}

.column9 {
  background-color: white;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  
}


.column9 img {
  width: 100%;
  height: auto;
  

}

.column9 h2 {
  color: #333;
  font-family: "Poppins", serif;
  font-size: 20px;
  margin: 15px 0 10px;
  text-align: left;
  box-sizing: border-box;
  background-color: white;
  
  

  
}

.column9 p {
  color: #666;
  font-family: "Poppins", serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
  box-sizing: border-box;
  background-color: white;

  
  
}

.column9 b {
  color: #070707;
  font-family: "Poppins", serif;
  font-size: 14px;
  box-sizing: border-box;
  text-align: left;
  align-items: left;
  background-color: white;

  
}

.Assist {
  
  display: flex;
  margin-bottom: 50px;
}

.box3 {
  position: absolute;
  top: 15px; 
  left: calc(0px + 300px + 15px); 
  background-color: white;
  width: 400px;
  height: 320px;
  padding: 25px; 
  text-align: center; 
  gap: 10px;
  margin-top: 3200px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.box3 h1 {
  color: black;
  margin-bottom: 20px; 
}

.box3 p {
  color: #666;
  margin-bottom: 20px; 
  text-align: center;
}

.box3 textarea {
  color: #666;
  width: 80%; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-family: "Poppins", serif;
}

.send-message-btn {
  display: inline-block;
  background-color: #0027BE;
  color: white;
  padding: 10px 30px; 
  font-size: 14px; 
  font-weight: bold;
  border: none;
  border-radius: 5px; 
  text-align: center;
  font-family: "Poppins", serif;
  cursor: pointer; 
}




.Projexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto; 
  text-align: center;
}
.row8 {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  justify-content: center; 
  margin: 20px auto; 
  width: fit-content; 
}

.column10 img {
  width: 200px; 
  height: 200px; 
  border-radius: 0px; 
  
}
.view {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.view-more-btn {
  background-color: white;
  color: #242E47;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid orange;
  border-radius: 5px;
  font-family: "Poppins", serif;
  border: none;
  cursor: pointer;
  text-align: center;
}





.quality {
  background-color: #242E47;
  width: 96%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto; 
  position: relative; 
  font-family: "Poppins", serif;
}

.quality h1 {
  color: white;
  font-family: "Poppins", serif;
  text-align: left;
  margin-left: 80px;
  margin-bottom: 20px;
  padding-top: 50px;

}

.content {
  position: relative; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 20px; 
  
}

.box5 {
  background-color: white;
  color: #242E47;
  padding: 30px;
  font-size: 14px;
  border-radius: 0px;
  text-align: left;
  font-family: "Poppins", serif;
  width: 797px;
  height: 339px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  
}

.box5 ul {
 padding-left: 124px;
}

.box5 ul li {
  margin: 20px 0;
  font-size: 18px;
  font-family: "Poppins", serif;

 
}

.content img {
  position: absolute; 
  left: calc(663px + 30px); 
  top: -88px; 
  width: 796px;
  height: auto; 
  object-fit: cover; 
  z-index: 1;
}




.Offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
}

.row9 {
  display: grid;
  gap: 50px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
  width: fit-content;
}

.column11 img {
  width: 140px;
  height: 140px;
  border-radius: 0px;
  display: block;
  margin: 0 auto;
}

.offer-btn {
 
  color: black;
  font-family: "Poppins", serif;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.offer-btn.gray {
  color: gray;
}


.avoid {
  
  background-color: #242E47;
  width: 96%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  position: relative;
  font-family: "Poppins", serif;
 
}

.avoid h1 {
  
  color: white;
  font-family: "Poppins", serif;
  text-align: left;
  margin-left: 850px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.content2 {
 
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row-reverse; 
}

.box6 {

  background-color: white;
  color: #242E47;
  padding: 30px;
  font-size: 14px;
  border-radius: 0px;
  text-align: left;
  font-family: "Poppins", serif;
  width: 797px;
  height: 339px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
 
  
}

.box6 ul {

 padding-left: 124px;
}

.box6 ul li {
  
  margin: 20px 0;
  font-size: 18px;
  font-family: "Poppins", serif;
  
}

.content2 img {
 
  position: absolute;
  left: 30px; 
  top: -88px;
  width: 797px;
  height: auto;
  object-fit: cover;
  z-index: 1;
  
 
}



.clients {
  display: flex;
  width: 96%;
  background-color: #F6F6F6;
  padding: 30px;
  position: relative;
  height: 670px;
}

.box7 {
  background-color: white;
  color: #242E47;
  padding: 30px;
  font-size: 14px;
  border-radius: 0px;
  text-align: left;
  font-family: "Poppins", serif;
  width: 600px;
  height: 450px;
  margin-top: 80px;
  z-index: 2; 
  margin-left: 180px;
  position: relative; 
}

.box7 img {
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.box7 h2 {
  color: #0027BE;
  margin-top: 10px;
}

.box7 h1 {
  color: black;
  margin-top: 10px;
}

.box7 p {
  color: gray;
  margin-top: 20px;
  margin-left: 120px;
  line-height: 2;
}

.box7 b {
  color: black;
  margin-left: 120px;
}

.photo {
  display: flex;
  justify-content: flex-end;
  position: absolute; 
  z-index: 1; 
  padding-left: 640px;
  
  
}

.photo img {
  width: 841px;
  height: 570px;
  /* position: relative;  */
  z-index: 1; 
  margin-top: 40px;
}


.img img{
  width: 100%;
  height:158px ;
 
  
}
.FAQ{
 text-align: center;
 margin-top: 20px;
}
.FAQ h3{
  color: #0027BE;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Poppins", serif;
  
  

}
.FAQ h2{
  color: #070707;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin-top: 7px;
  font-family: "Poppins", serif;

}

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  width: 80%; 
  margin: 0 auto;
  padding: 20px;
}

.coloumn11 {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px;
}

.coloumn11 button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.coloumn11 button img {
  width: 60px;
  height: 60px;
}

.coloumn11 p {
  margin: 0;
  font-size: 16px;
  color: black;
  font-family: "Poppins", serif;
}

.coloumn11 span {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #555;
  font-family: "Poppins", serif;
}

.collapse{
  position: relative;
  background-color: rgb(221, 218, 218);
 
}
.image3 {
  width: 1517px;
  height: 431px;
  /* margin-top: 50px; */
  z-index: 2;
  position: relative;
  
}
.image3 img{
  width: 100%;
  height:431px ;
  /* z-index: 2; */
  /* position: relative; */
}
.box8 {
  background-color: white;
  padding: 30px 80px;
  font-size: 14px;
  border-radius: 0px;
  text-align: center;
  font-family: "Poppins", serif;
  width: 80%;
  margin: 0 auto; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}

.coloumn12 {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  gap: 10px; 
  color: #0027BE;

}

.coloumn12 .icon {
  width: 35px;
  height: 35px;  
}

.coloumn12 .text-container {
  display: flex;
  flex-direction: column; 
  text-align: left;
}

.coloumn12 .text-container p:first-child {
  margin: 0;
  font-size: 16px;
  color: black; 
  
}

.coloumn12 .text-container p:last-child {
  margin: 5px 0 0; 
  font-size: 14px;
  color: gray; 
}
.Touch{
  text-align: center;
  margin-top: 150px;

 }
 .Touch h3{
   color: #0027BE;
   font-size: 18px;
   font-weight: 500;
   line-height: 27px;
   font-family: "Poppins", serif;
 }
 .Touch h2{
   color: #070707;
   font-size: 30px;
   font-weight: 600;
   line-height: 45px;
   margin-top: 4px;
   font-family: "Poppins", serif;
 }

 .Touch p{
  color: gray;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  margin-top: 30px;
  font-family: "Poppins", serif;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 300px;
  padding-right: 300px;
}
.box9 {
  position: relative; 
  margin: 0 auto; 
  background-color:white;
  width: 680px;
  height: auto; 
  padding: 25px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
 margin-top: 40px;
  margin-bottom: 80px;
  text-align: center; 
}
.form2 {
  width: 70%; 
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.column12 input,
.column12 textarea {
  width: 100%; 
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
}
.column12 input::placeholder
{
  color: #aaa; 
}
.column12 textarea::placeholder {
  color: gray;  
}

.column12 p {
  font-size: 16px;
  color: gray;
  font-family: "Poppins", serif;  margin: 10px 0;
}

.button11 {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Poppins", serif;  
  border:none;
  text-align: center;
}
.box11 {
  background-color: rgb(222, 218, 218);
  padding: 30px 80px;
  font-size: 14px;
  border-radius: 0px;
  text-align: center;
  font-family: sans-serif;
  width: 1000px;
  margin: 0 auto; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 85px;
  position: absolute;
  z-index: 2;
  margin-left: 190px;
}
.column14 {
  display: flex;
}
.column14 h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Poppins", serif;}

.column14 input {
  padding: 15px;
  font-size: 18px; 
  border: 1px solid #ccc;
  width: 386px; 
  height: 40px; 
  border-radius: 5px;
  box-sizing: border-box;
}
.column14 input::placeholder {
  font-size: 15px; 
  color: #888;
}
.button12 {
  background-color: blue;
  color: white;
  /* padding: 15px 30px;  */
  font-size: 15px; 
  font-family: "Poppins", serif;
    border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  border: none; 
  width: 198px; 
  height: 40px; 
}

.end {
  width: 1517px;
  height: 540px;
  position: relative;
  text-align: center;
  color: white;
  
}

.end img{
  width: 100%;
  height:431px ;
  margin-top: 60px;
}


.top-left {
  position: absolute;
  top: 80px;
  left: 240px;
  text-align: left; 
  margin-bottom: 40px;
  margin-top: 90px;
  
  
 
}

.top-left h1,
.top-left b {
  color: white;
  margin-bottom: 40px; 
}

.top-left b {
  font-weight: bold; 
  margin-top: 20px;
}
.bottom-left{
  position: absolute;
    bottom: 182px;
    left: 500px;
}
.bottom-left b{
  font-weight: bold; 
  margin-top: 20px;
}

.centered {
  position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.centered img{
  width: 450px;
  height:250px;
}

.last {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: auto; 
  position: relative;
  margin: 0;
  padding: 0;
}

.last img {
  width: 971px; 
  height: 82px; 
  position: absolute;
  margin-top: 50px;
  
}
.box12{
  background-color:white;
  padding: 30px 80px;
  font-size: 14px;
  border-radius: 0px;
  text-align: center;
  font-family: "Poppins", serif;
    width: 1000px;
  height: 30px;
  margin: 0 auto; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 85px;
}













